@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body {
    color:#000;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.foodList {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.foodList.on {
    height: 15%;
    transition: all 0.5s;
}

.foodList li {
    flex: 1 1 30%;
    margin: 0 5px 10px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.foodList li:nth-child(3n) {
    margin-right: 10px;
}

.foodList li:nth-child(3n+1) {
    margin-left: 10px;
}

.foodList.on li{
    flex: 1;
    margin: 0 5px 10px 5px;
    margin-bottom: 0px;
}

.foodList.on li:first-child {
    margin-left: 10px;
}

.foodList.on li:last-child {
    margin-right: 10px;
}

.foodList li > div {
    transition: all 0.5s;
    padding: 10px;
}

.foodList li > div:hover {
    transform: rotateY(180deg);
    color:orangered;
}

.foodList li > div > i {
    font-size: 60px;
    padding-bottom: 15px;
}

.foodList li > div > p {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.foodList li > div:hover > p {
    text-indent: -99999px;
}

.foodList li > div:hover > p::after {
    transform: rotateY(180deg);
    text-indent: 0px;
    float: left;
    /* text-align: center; */
}

.foodList li:nth-child(1) > div:hover > p::after {
    content: "한　식";
}

.foodList li:nth-child(2) > div:hover > p::after {
    content: "햄버거";
}

.foodList li:nth-child(3) > div:hover > p::after {
    content: "해산물";
}

.foodList li:nth-child(4) > div:hover > p::after {
    content: "카　페";
}

.foodList li:nth-child(5) > div:hover > p::after {
    content: "맛　집";
}

.foodList li:nth-child(6) > div:hover > p::after {
    content: "양　식";
}

.foodList li:nth-child(7) > div:hover > p::after {
    content: "피　자";
}

.foodList li:nth-child(8) > div:hover > p::after {
    content: "제과점";
}

.foodList li:nth-child(9) > div:hover > p::after {
    content: "샐러드";
}

.foodList.on li > div > i {
    font-size: 30px;
}

.foodList.on li > div > p {
    font-size: 13px;
}

